html{
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
}

.section-1{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.header-1{
    margin-left: 5%;
    color: rgba(34, 34, 34, 0.808);
 
}
nav li{
    list-style: none;  
    margin-right: 30px;
    padding-top: 10px;
}
nav ul{
    display: flex;
    margin-right: 15%;
}
/* 1st section css ends */

h1{
    color: rgba(34, 34, 34, 0.808);
    font-size: 60px;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#ff0066,#ff99cc);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
/* 2nd section css ends*/

.section-3{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;

}
.section-3 img{
    margin-right: 50px;
    
}
.section-3{
    padding-top: 10px;
    padding-bottom: 10px;
}
#i2{
    padding-top: 5px;
}
#i5{
    padding-top: 5px;
}
.hr1{
    width: 1000px;
    background-image: linear-gradient(#f5f7fa,#b8c6db);
   
}
.hr2{
    width: 1000px;
    background-image: linear-gradient(#f5f7fa,#b8c6db);

}

.header-2{
    color: rgba(17, 17, 17, 0.808);
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

/* section-4 css */
.fa-star.filled{
    color: #d8a20e;
}
.fa-star.empty{
    color: #AEAEAE;
}
.ratings{
    color: black;
}
.item-rattings p{
    color: gray;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.item{
    width: 360;
    height: 570;
    background-color: #d8d8d8;
    padding: 30px 15px;
    border-radius: 20px;
}
.container {
    margin-left: 10%;
}