html{
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
}

.section-1{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.header-1{
    margin-left: 5%;
    color: rgba(34, 34, 34, 0.808);
 
}
nav li{
    list-style: none;  
    margin-right: 30px;
    padding-top: 10px;
}
nav ul{
    display: flex;
    margin-right: 15%;
    cursor:pointer;
}
/* 1st section css ends */

h1{
    color: rgba(34, 34, 34, 0.808);
    font-size: 60px;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
    transition: transform 5s;
   
}
.half-width img:hover {
    transform: rotate(60deg);
   
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#ff0066,#ff99cc);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
/* 2nd section css ends*/

.section-3{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;

}
.section-3 img{
    margin-right: 50px;
    
}
.section-3{
    padding-top: 10px;
    padding-bottom: 10px;
}
#i2{
    padding-top: 5px;
}
#i5{
    padding-top: 5px;
}
.hr1{
    width: 1000px;
    background-image: linear-gradient(#f5f7fa,#b8c6db);
   
}
.hr2{
    width: 1000px;
    background-image: linear-gradient(#f5f7fa,#b8c6db);

}

.header-2{
    color: rgba(17, 17, 17, 0.808);
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

/* section-4 css */
.fa-star.filled{
    color: #d8a20e;
}
.fa-star.empty{
    color: #AEAEAE;
}
.ratings{
    color: black;
}
.item-rattings p{
    color: gray;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.item{
    width: 300px;
    height: 500px;
    background-color: #d8d8d8;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.25s ease-out;
}

.item:hover{
    border: 5px solid transparent;
    background: linear-gradient(to left, #ccc, #ccc) padding-box,
      linear-gradient(to left, #743ad5, #d53a9d) border-box;
}
.container {
    margin-left: 10%;
}

#see-more {
    color: #f13995;
    margin-left: 1350px;
}



/* creative section css */
.creative__banner{
    width: 500px;
    height: 250px;
    background: linear-gradient(to right, #003366 0%, #ff0066 100%);
    margin: 0 auto;
    border-radius: 30px;
}
.input{
    height: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.creative__banner form{
    text-align: center;
    padding-top: 40px;
}
.button{
    background: linear-gradient(to right, #045fb9 0%, #acd3d3 100%);
    padding: 10px 40px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.creative__heading{
    color: rgba(34, 34, 34, 0.808);
    font-size: 40px;
    text-align: center;
}
 /* final section css start */

.final-section{
    width: 100%;
    height: 200px;
    background-color: #003366;
}

.final-section1{
    color: white;
    text-align: center;
    padding-top: 8px;
}
.social-logo {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: white;
    font-size: 2rem;
}

/* responsive css */

@media only screen and (max-width: 34em) {
        /* 34em = 34*16 = 544px */
      
        header {
          display: none;
        }

        .flexible-container{
            margin-top: 4rem;
            width: 50%
        }
        .flexible-container div:nth-child(2) {
            margin-top: -5rem;
            width: 100%;
            position: relative;
            left: 25%;
          }

        .flex-wraper{
            flex-direction: column;
        }

        .journey__info{
            width: auto;
            position: relative;
            left: 20%;
        }
        
        .journey__img{
            width: 20rem;
            height: 5rem;
            margin-top: 500px;
        }

        .button{
            width: 30px;
            height: 100px;
            margin-top: 10px;
            display: grid;
        }

        .journey__heading{
            font-size: 1.75rem;
            width: 25.25rem;
        }

        .journey__description {
            font-size: 0.875rem;
            width: 25rem;
            text-align: center;
            margin-top: 1rem;
            margin-left: -3rem;
          }

          .items{
            grid-template-columns: repeat(1, 1fr);
            width: 90%;
          }

          .item{
            margin: 0 auto;
          }

          .testimonials{
            align-items: stretch;
            flex-direction: row;
            flex-wrap: wrap;
          }

          .creative {
            margin: 5rem auto;
            width: 91%;
          }

          .creative__banner {
            width: 100%;
            margin: 0 auto;
          }

          .creative__banner div:first-child {
            display: none;
          }

          .creative__banner div:last-child {
            width: 100%;
          }
}        